.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  text-align: center;
  padding-top: 20px;
  position: fixed;
  bottom: 0;
  height: 40px; /* Height of the footer */
  font-family: 'Courier New', Courier, monospace;
  /* z-index: -1000; */
  background-color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background-color: hotpink;
  color: black;
}

.copyright {
  color: hotpink;
  font-size: medium;
  font-weight: bold;
}
