.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: #5aa388; */
  color: black;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 500px) {
  .navbar {
    padding: 20px 50px;
  }
}

.logo,
.cart {
  cursor: pointer;
}

.cart {
  margin: 10px;
}

.logo {
  color: hotpink;
  text-decoration: none;
  font-size: 40px;
}

.logo h3 {
  margin-top: 0;
}

.nav_price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navLinks {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.link {
  margin-right: 2em;
}

.link:hover {
  background-color: hotpink;
  padding: 1em;
  border-radius: 5%;
}
